.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo--circle {
    font-family: var(--font-primary);
    background-color: rgb(246, 92, 92);
    width: 80px;
    height: 80px;
    margin-right: 14px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo--circle-text {
    font-size: 4.2rem;
    font-weight: 500;
    color: #f9f9f9;
    text-transform: uppercase;
}

.logo--text {
    font-family: var(--font-primary);
    font-size: 3.8rem;
    font-weight: 100;
    letter-spacing: 2px;
}